body{
  background-color: rgb(4, 4, 44);
}
h2{
  color: goldenrod;
}

.aboutpage{
  background-color: black;
  color: white;
  height: 100vh;
  text-align: center;
}

.card-container {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); /* Card look */
  transition: 0.3s;
  background-color: white;
  border-radius: 4px; /* Round corners */
}

.card-container:hover {
  box-shadow: 0 8px 26px 0 white;
 
}